@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body{
  background-color: #0c0c1d;
  // background-color: #2c0242;
  color: #02c2b5;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media(max-width: 738px){
    @content
  }
}

@mixin tablet {
  @media(max-width: 1024px){
    @content
  }
}

@mixin desktop {
  @media(max-width: 1366px){
    @content
  }
}